Temp/UnityLockfile
Temp/workerlic
.plastic/plastic.fullycheckeddirectories
.plastic/plastic.wktree
.plastic/cachedtrees/56e62dd7-241f-41e9-8c6b-dd4ca4513e62.39
.plastic/cachedtrees/56e62dd7-241f-41e9-8c6b-dd4ca4513e62.41
Library/ArtifactDB
Library/CurrentLayout-default.dwlt
Library/EditorInstance.json
Library/SourceAssetDB
Library/Artifacts/76/7677534e6786aea13b916dbdc18e912d
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
